body {
    /* margin: auto;
    text-align: center; */
    font-size: larger;
    background-color: whitesmoke;
}
input {
    border: 1px solid black;
    height: 25px;
    width: 500px;
}
button {
    height: 30px;
    width: 80px;
}
.delete{
    margin-left: 10px;
    height: 25px;
}
li{
   margin-bottom: 10px;
}
